@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: blueviolet !important;
}

.nav-link {
  color: white !important;
}
.page-content {
  flex: 10 auto;
  background-color: rgb(61, 58, 58);
}
