<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Murat Çiçek", "https://muratcicek.net", class: "text-white" %></small>
  </div>
</footer>